<body style="width: 100%; height: 100%; position: absolute; background-color: #f1ececef">
    <div class="container-fluid-sm">
        <div class="row">
            <div class="col-4">
                <div class="retangulo-verde">
                    <div class="centralizar">
                        <div class="col">
                            <img class="iconeUpa img-fluid img-thumbnail" style="border-radius: 100%; border: none; background-color: transparent;" src="../../../../assets/home2/upaHome2.png" alt="WPN">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="iconeUpa" name="wellington nascimento" class="labelWellington" >Wellington Nascimento</label>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <button class="btn-home" name="home" routerLink="principal">HOME</button>
                                <button class="btn-home" name="home" routerLink="principal">ABOUT</button>
                                <button class="btn-home" name="home" routerLink="principal">SKILLS</button>
                                <button class="btn-home" name="home" routerLink="principal">CONTACT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="texto">
                    <div class="row">
                        <div class="col">
                            <h1>Bem Vindo!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="conteudo-texto">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Labore culpa dolore beatae facilis eveniet nam voluptate quidem reiciendis
                                    quae saepe voluptatibus dignissimos quo rerum, reprehenderit nostrum enim 
                                    hic molestiae neque?</p>  
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Labore culpa dolore beatae facilis eveniet nam voluptate quidem reiciendis
                                    quae saepe voluptatibus dignissimos quo rerum, reprehenderit nostrum enim 
                                    hic molestiae neque?</p>  
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Labore culpa dolore beatae facilis eveniet nam voluptate quidem reiciendis
                                quae saepe voluptatibus dignissimos quo rerum, reprehenderit nostrum enim 
                                hic molestiae neque?</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>